// components/upload.scss

@use '../includes' as *;

.c-upload {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  gap: $size-base * 2;
  justify-items: center;
}

.c-upload__heading {
  font-size: $font-size-l1;
  font-weight: $font-weight-bold;
}

.c-upload__dragger {
  width: 100%;
  padding: $size-base * 3 $size-base * 3;
  text-align: center;
  cursor: pointer;
  border: dashed 1px $color-gray-4;
  border-radius: $size-border-radius * 0.5;

  &.is-dragover {
    background-color: rgba(255, 180, 29, 0.2);
    border-width: 2px;
  }

  &.is-dragover,
  &:hover,
  &:focus-within {
    border-color: $color-primary;
  }
}

.c-upload__image {
  max-width: 200px;
}

.c-upload__text {
  padding: $size-base * 2 0;
  font-size: $font-size-s1;

  em {
    font-style: normal;
    font-weight: $font-weight-bold;
  }
}

.c-upload__input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
