// components/upload.scss

@use '../includes' as *;

.c-upload {
  width: 100%;
}

.c-upload__dragger {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  gap: $size-base * 2;
  width: 100%;
  padding: $size-base * 3 $size-base * 5;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: dashed 2px $color-gray-1;
  border-radius: $size-border-radius;
  transition: border-color 0.1s;

  &.is-dragover,
  &:hover,
  &:focus-within {
    border-color: $color-primary;
  }

  &::after {
    position: absolute;
    top: $size-base * 0.5;
    right: $size-base * 0.5;
    bottom: $size-base * 0.5;
    left: $size-base * 0.5;
    content: '';
    background-color: $color-primary;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &.is-dragover::after {
    opacity: 0.2;
  }
}

.c-upload__text {
  font-size: $font-size-s1;

  em {
    font-style: normal;
    font-weight: $font-weight-bold;
  }
}

.c-upload__input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.c-upload__image {
  max-width: 100%;
}
