// layouts/body.scss

@use '../includes' as *;

.l-body {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  font-family: 'Quicksand', sans-serif;
  color: $color-gray-1;
  background-color: $color-gray-6;
}
