// layouts/footer.scss

@use "../includes" as *;

.l-footer {
  width: 100%;
}

.l-footer__body {
  width: 100%;
  max-width: $size-width-content;
  padding: 0 $size-base * 3 $size-base * 4;
  margin: auto;
}

.l-footer__copyright {
  font-size: $font-size-s1;
  font-weight: $font-weight-bold;
}
