// layouts/main.scss

@use '../includes' as *;

.l-main {
  width: 100%;
}

.l-main__body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 5fr;
  gap: $size-base * 3;
  align-items: flex-start;
  width: 100%;
  max-width: $size-width-content;
  padding: $size-base * 4 $size-base * 3;
  margin: auto;
}

.l-main__container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  gap: $size-base * 1;
  text-align: center;
}

.l-main__arrow {
  padding: $size-base * 1 0;
  font-size: $font-size-l3;
}
