// layouts/main.scss

@use '../includes' as *;

.l-main {
  width: 100%;
  padding: 0 $size-base * 3;
}

.l-main__body {
  display: flex;
  flex-wrap: wrap;
  gap: $size-base * 5;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: $size-width-content;
  padding: $size-base * 3 $size-base * 5 $size-base * 4;
  margin: auto;
  background-color: $color-white;
  border-radius: $size-border-radius;
}
