// includes/variables.scss

$size-base: 8px;
$size-width-content: 768px;
$size-border-radius: 8px;
$size-breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
);

// font
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-base: 14px;
$font-size-l1: 18px;
$font-size-l2: 24px;
$font-size-l3: 28px;
$font-size-l4: 32px;
$font-size-l5: 48px;
$font-size-s1: 13px;
$font-size-s2: 12px;
$font-size-s3: 11px;
$font-size-s4: 10px;
$color-primary: #ffb41d;
$color-black: #373948;
$color-gray-1: #b4b5bb;
$color-gray-2: #cdced1;
$color-gray-3: #e6e7e9;
$color-gray-4: #f9f9fa;
$color-white: #fff;
